.DetailPageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 40vh 1fr;
    grid-template-areas: "image heading" "image keywords" "image detail" "image social";
    grid-gap: 10px;
    height: 80vh;
    margin: 10px;
}

@media all and (max-width: 800px) {
    .DetailPageWrapper {
        height: initial;
        min-height: 80vh;
        grid-template-rows: 1fr 0.5fr auto auto 1fr;
        grid-template-columns: 100%;
        grid-template-areas: "heading" "keywords" "image" "detail" "social";
    }
    .DetailPageWrapper .DetailDescription {
        overflow-y: initial !important;
    }    
}

.DetailPageWrapper .DetailImageWrapper {
    grid-area: image;
    overflow: hidden;
}

.DetailPageWrapper .DetailHeader {
    grid-area: heading;
    text-transform: capitalize;
}

.DetailImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.DetailPageWrapper .DetailDescription {
    grid-area: detail;
    overflow-y: scroll;
    text-align: justify;
}

.DetailPageWrapper .DetailKeywords {
    grid-area: keywords;
}

.DetailPageWrapper .DetailSocial {
    grid-area: social;
}