html, body, .rootWrapper {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-size: 1.2rem;
  color: #333;
  background: white;
}

h1, a, p {
  font-family: "MathJax_Main";
}

a {
  text-decoration: none;
  color: #333;
}