.ShowcaseItemWrapper {
    overflow: hidden;
    box-shadow: rgba(76, 76, 76, 0.5) 3px 3px 6px;
    border: double rgba(0,0,0,0.3) 5px;
}
.ShowcaseItemWrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: center center;
    transform: translate(0px, 0px);
}
.ShowcaseItemWrapper img.Hovered {
    object-fit: cover;
}